:root {
  // font sizes
  --font-15: 15px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-25: 25px;
  --font-30: 30px;
  // colors
  --gray-light-color: #c0c0c0;
  --gray-dark-color: #444;
  --white-color: #ffff;
  --red-color: #ff0000;
  --black-color: #000000;
  // transitions
  --transition-200: 200ms;
  --transition-120: 120ms;
  //font weights
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;
  --weight-900: 900;
}
